<launch>
    
    <arg name="gui" default="true"/>

    <node pkg="find_object_2d" type="find_object_2d" name="find_object_2d">
        <remap from="image" to="/camera/rgb/image_raw"/>
        <param name="gui" value="$(arg teach)"/>
        <param name="objects_path"  value="$(find mapping)/image_rec/" type="str"/>
    </node>

</launch>